body{
    font-family: monospace;
}
.title{
    font-size: 24px;
    font-weight: bold;
}
.todo-text{
    font-family: monospace;
    padding-top: 6px;
    padding-bottom: 6px;
    display: inline-block;
    width: 60%;
    cursor: text;
}
.todo-text:hover{
    background: #eeeeee;
}
.todo-textbox{
    padding-top: 4px;
    padding-bottom: 4px;
    font-family: monospace;
    width: 40%;
}
.todo-duedate{
    font-family: monospace;
    height: 28px;
}
#todo-check-index--1{
    visibility: hidden;
}
#todo-textbox-index--1{
    margin-bottom: 12px;
}
.todo-check{
    /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
}
#floating-logo{
	position:absolute;
	right: 10px;
	top: 10px;
}
#floating-text{
    position: absolute;
    right: 100px;
    top: 10px;
}
