body{
    font-family: monospace;
}
.title{
    font-size: 24px;
    font-weight: bold;
}
.todo-text{
    font-family: monospace;
    padding-top: 6px;
    padding-bottom: 6px;
    display: inline-block;
    width: 60%;
    cursor: text;
}
.todo-text:hover{
    background: #eeeeee;
}
.todo-text-checked{
    font-family: monospace;
    padding-top: 6px;
    padding-bottom: 6px;
    display: inline-block;
    width: 60%;
    cursor: text;

    text-decoration: line-through;
    color: #cccccc;
}
.todo-text-checked:hover{
    background: #eeeeee;
}

.todo-textbox{
    padding-top: 4px;
    padding-bottom: 4px;
    font-family: monospace;
    width: 40%;
}
.todo-duedate{
    font-family: monospace;
    height: 28px;
}
#todo-check-index--1{
    visibility: hidden;
}
#todo-textbox-index--1{
    margin-bottom: 12px;
}
.todo-check{
    /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
}
.todo-check:checked{
    -webkit-filter: opacity(50%);
    filter: opacity(50%);
}
#floating-logo{
	position:absolute;
	right: 10px;
	top: 32px;
}
#floating-text{
    position: absolute;
    right: 100px;
    top: 32px;
}
